<div class="container">
            <div class="row">

                <div class="col-sm-12 col-md-6">
                    <div class="media cross-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="{{ 'assets/images/services/locatie.png'|theme }}">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Este usor de gasit</h3>                            
                        </div>
                        <p>este amplasata in Bucuresti, pe strada Delea Noua, in apropierea statiei de metrou Piata Muncii</p>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6">
                    <div class="media cross-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="{{ 'assets/images/services/rezultaterapide.png'|theme }}">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Rezultate rapide</h3>                            
                        </div>
                        <p>45 minute de tratament in SalinabyABC este echivalent cu 3-4 ore in salinele naturale</p>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6">
                    <div class="media cross-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="{{ 'assets/images/services/umiditate.png'|theme }}">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Umiditate constanta</h3>                           
                        </div>
                        <p>in SalinabyABC umiditatea este de 40-50%</p>
                    </div>
                </div>  
                
                <div class="col-sm-12 col-md-6">
                    <div class="media cross-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="{{ 'assets/images/services/temperatura1.png'|theme }}">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Temperatura confortabila</h3>                           
                        </div>
                        <p>in SalinabyABC temperatura este intre 22-24 grade, pe cand intr-o salina naturala, temperatura fiind scazuta, exista riscul unor imbolnaviri</p>
                    </div>
                </div>  
                                    
            </div><!--/.row-->
        </div><!--/.container-->