<div class="container">
            <div class="center wow fadeInDown">
                <h2>Ce pot face in timpul sedintelor de salinoterapie?</h2>
                 <h4>In Salina by ABC ai posibilitatea sa:</h4>
                <!--<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>-->
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-1 activitati"></div>
                <div class="col-xs-12 col-sm-4 col-md-2 activitati">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{{ 'assets/images/activitati/copii-1.jpg'|theme }}" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3>Desenezi sau sa colorezi fise cu personajele indragite</h3>
                            </div> 
                        </div>
                    </div>
                </div> 

                <div class="col-xs-12 col-sm-4 col-md-2 activitati">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{{ 'assets/images/activitati/copii-2.jpg'|theme }}" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3>Construiesti cladiri impresionante din cuburi</h3>
                            </div> 
                        </div>
                    </div>
                </div> 

                <div class="col-xs-12 col-sm-4 col-md-2 activitati">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{{ 'assets/images/activitati/copii-3.jpg'|theme }}" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3>Sa descoperi povesti noi din cartile si atlasele din biblioteca Salina by ABC</h3>
                            </div> 
                        </div>
                    </div>
                </div>  

                <div class="col-xs-12 col-sm-4 col-md-2 activitati">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{{ 'assets/images/activitati/copii-4.jpg'|theme }}" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3>Sa te uiti la programele TV pentru copii</h3>
                            </div> 
                        </div>
                    </div>
                </div>    
                
                <div class="col-xs-12 col-sm-4 col-md-2 activitati">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{{ 'assets/images/activitati/copii-5.jpg'|theme }}" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3>Sa modelezi plastilina in forme colorate</h3>
                            </div> 
                        </div>
                    </div>
                </div> 
                <div class="col-xs-12 col-sm-4 col-md-1 activitati"></div>
            </div><!--/.row-->
        </div><!--/.container-->