	   <div class="container">
            <div class="row">

                <div class="col-sm-6 col-md-4">
                    <div class="media cross-wrap wow fadeInDown">
                        <div class="media-body">
                            <h3 class="media-heading">Acvatic Bebe Club</h3>
                            <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media cross-wrap wow fadeInDown">
                        <div class="media-body">
                            <h3 class="media-heading">Garantii</h3>
                            <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media cross-wrap wow fadeInDown">
                        <div class="media-body">
                            <h3 class="media-heading">Sedinta gratuita</h3>
                            <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
                        </div>
                    </div>
                </div>  
                                    
            </div><!--/.row-->
        </div><!--/.container-->
