        <div class="container">
            <div class="center wow fadeInDown">
                <h2>Mai multe detalii</h2>
                <p class="wall-of-text" style="text-align: center">Pentru mai multe detalii selectati o categorie de mai jos</p>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="recent-work-wrap selector">
                        <a class="preview" href="salinoterapia-adulti" rel="">
                            <img class="img-responsive" src="{{ 'assets/images/selector/adulti.jpg'|theme }}" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">

                                </div> 
                            </div>
                        </a>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="recent-work-wrap selector">
                        <a class="preview" href="salinoterapia-copii" rel="">
                            <img class="img-responsive" src="{{ 'assets/images/selector/copii.jpg'|theme }}" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">

                                </div> 
                            </div>
                        </a>
                    </div>
                </div>   
            </div><!--/.row-->
        </div><!--/.container-->
