<div class="row" style="border-top: solid 5px #168CCB;border-bottom: solid 5px #168CCB;">
                    <div class="col-md-4 col-sm-12 wow fadeInDown servicii-wrap" data-wow-duration="1000ms" data-wow-delay="600ms">
                            <img src="{{ 'assets/images/servicii/left.png'|theme }}" class="img-responsive" alt="Salina artificiala Bucuresti">
                            <div class="servicii-wrap-sus">
                                <p><span><em><a href="salinoterapia-copii">Salinoterapia pentru copii</a></em>
                                <br>
                                <br>Salinoterapia reprezinta cea mai buna alternativa pentru tratarea problemelor respiratorii ale copiilor. Salinoterapia pentru copii este 100% naturala si consta in inhalarea aerosolilor salini intr-o salina artificiala, in care copii se vor simti confortabil.<br><a class="btn btn-primary" href="salinoterapia-copii" role="button" style="margin-top: 5px;border-radius: 0px;">Detalii</a></span></p>
                            </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-12 wow fadeInDown servicii-wrap" data-wow-duration="1000ms" data-wow-delay="600ms">
                            <img src="{{ 'assets/images/servicii/middle.png'|theme }}" class="img-responsive">
                            <div class="servicii-wrap-jos">
                                <p><span><em><a href="salinoterapia">Cromoterapia</a></em><br><br>
Cromoterapia, in Salina By ABC, este obtinuta din lumina amplasata in spatele peretilor din sare de Himalaya, care ofera o culoare portocalie calda, insa aceasta se poate schimba din telecomanda in functie de preferintele dumneavoastra. </span></p>
                            </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-12 wow fadeInDown servicii-wrap" data-wow-duration="1000ms" data-wow-delay="600ms">
                            <img src="{{ 'assets/images/servicii/right.png'|theme }}" class="img-responsive" alt="Salina Bucuresti">
                            <div class="servicii-wrap-sus">
                                <p><span><em><a href="salinoterapia-adulti">Salinoterapia pentru adulti</a></em>
                                <br>
                                <br>Prin expunerea si inhalarea de aerosoli salini in salina artificiala se realizeaza o purificare a cailor respiratorii de focarele de infectie (stafilo-streptococice), se stimuleaza eliminarea secretiilor de la nivelul bronhiilor, se reduc simtitor iritatiile si inflamatiile existente atat la adulti, cat mai ales la copii.<br><a class="btn btn-primary" href="salinoterapia-copii" role="button" style="text-align:center;margin: 20px;margin-top: 5px;margin-left: 0px;border-radius: 0px;">Detalii</a></span></p>
                            </div>
                    </div><!--/.col-md-4-->
            </div><!--/.row-->