<div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-9 col-xs-12">
                        {% partial "nav_home" %}
                    </div>
                    <div class="col-sm-1 col-xs-6" style="padding-top: 15px;">
                       <div class="social">
                            <ul class="social-share">
                                <a href="https://www.facebook.com/salinabyabc/"><i class="fa fa-facebook"></i></a>
                            </ul>
                       </div>
                    </div>
                    <div class="col-sm-2 col-xs-6" style="padding-top: 15px;">
                        <div class="top-number"><p><i class="fa fa-phone-square"></i> 0733.809.377</p></div>
                    </div>
                </div>
            </div><!--/.container-->
	</div><!--/.top-bar-->